*{margin: 0;padding: 0;border: 0;list-style: none;text-decoration: none;color: inherit;font-weight: normal;font-family: "å¾®è½¯é›…é»‘";box-sizing: border-box;font-style: normal;outline: none;-webkit-tap-highlight-color: transparent;}
body{width: 100%;overflow-x: hidden;background: #f7f7f7;}
.top-bg{background-image: linear-gradient(#76BA99,#76BA99);background-size: 100% 100%;position: absolute;top: 0;left: 0;width: 100%;height:4rem;z-index: 1;}
img{vertical-align: middle;max-width: 100%;}
.top-bar{width: 100%;height: .88rem;line-height: .88rem;display: flex;justify-content: space-between;align-items: center;color: #fff;padding: 0 .3rem;position: relative;z-index: 2;padding-top: .3rem;}
.top-bar a{width: .5rem;height: .88rem;font-size: .42rem;font-weight: bold;}
.top-bar span{font-size: .36rem;}
.top-bar i{height: .88rem;font-size: .24rem;}
.container{width: 100%;padding: 0 .35rem 0 .35rem;position: relative;z-index: 2;}
/* å¸å·ä¿¡æ¯ */
.account{width: 100%;display: flex;align-items: center;padding-top: .4rem;}
.account img{width: .85rem;height: .85rem;border-radius: 100%;margin-right: .2rem;}
.account .name{display: flex;align-items: flex-start;flex-direction: column;justify-content: center;color: #ffffff;}
.account .name p{font-size: .32rem;}
.account .name span{font-size: .24rem;}
/* ä¿¡æ¯é¢æ¿ */
.info-panel{width: 100%;height: auto;overflow: hidden;margin-top: .85rem;background: #F6FBF4;border-radius: .15rem;position: relative;padding-bottom: .1rem;box-shadow: 0 0 2rem rgba(0,0,0,.1);margin-bottom: .65rem;}
.info-panel::before{content: "";position: absolute;z-index: 3;height: 3.05rem;width: .01rem;background: #f4f4f4;top: .35rem;left: 50%;transform: translateX(-50%);}
.info-panel::after{content: "";position: absolute;z-index: 3;width: 5.15rem;height: .01rem;background: #f4f4f4;left: .35rem;top: 50%;transform: translateY(-50%);}
.info-panel ul{width: 100%;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}
.info-panel ul li{width: 50%;height: 1.7rem;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;position: relative;padding-top: .38rem;padding-bottom: .05rem;}
.info-panel ul li p{font-size: .26rem;color: #8a8a8a;display: flex;align-items: center;letter-spacing: .01rem;}
.info-panel ul li p i{font-size: .28rem;margin-right: .1rem;color: #92a9f9;}
.info-panel ul li:first-child i{font-size: .32rem;}
/*.info-panel ul li span{font-size: .38rem;font-weight: bold;color: #333;padding: .15rem 0 .05rem 0;}*/
.info-panel ul li span{font-size: .40rem;font-weight: bold;color: #76BA99;padding: 0 0 .05rem 0;}
.info-panel ul li a{font-size: .22rem;color: #8a8a8a;}
/* å›¾è¡¨ */
.chart{width: 100%;height: auto;overflow: hidden;position: relative;}
.chart #chart{width: 100%;height: 3.7rem;}
.chart .now{font-size: .22rem;position: absolute;right: 0;top: .1rem;color: #adadad;}
.chart .type{position: absolute;left: .5rem;top: 0;font-size: .24rem;z-index: 999;}
.chart .type span{margin-right: .2rem;position: relative;padding: 0 .02rem .1rem .02rem;color: #8a8a8a;}
.chart .type span.on{color: #76BA99;}
.chart .type span.on::after{content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: .05rem;background: #76BA99;}
/* åˆ†äº« */
div.history{width: 100%;padding: .5rem .35rem;}
div.history button{width: 100%;height: .9rem;border-radius: .9rem;background: #76BA99;color: #ffffff;font-size: .3rem;cursor: pointer;}
